# # Specifies intentionally untracked files to ignore when using Git
# # http://git-scm.com/docs/gitignore

# *~
# *.sw[mnpcod]
# .tmp
# *.tmp
# *.tmp.*
# *.sublime-project
# *.sublime-workspace
# .DS_Store
# Thumbs.db
# UserInterfaceState.xcuserstate
# $RECYCLE.BIN/

# *.log
# log.txt
# npm-debug.log*

# /node_modules

# node_modules
# *.pack
# node_modules/.bin/autoprefixer
# node_modules/.bin

# node_modules/.bin/uuid
# node_modules/.bin/webpack-dev-server
# *.map
# /node_modules

/node_modules
